html{
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image:url("IMAGE/abstract-white-shapes-background_79603-1361.avif");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
@keyframes back{
    0%{
        background:linear-gradient(135deg,rgba(0,255,255,0.37),rgba(255,255,255,0.37),rgba(0,0,255,0.37),rgba(177,255,237,0.37),rgba(255,100,0,0.37)) ;
    }
    25%
    {
        background:linear-gradient(135deg,rgba(0,0,255,0.37),rgba(0,255,255,0.37),rgba(255,255,255,0.37)) ;
    }
    50%{
        background:linear-gradient(135deg,rgba(255,255,255,0.37),rgba(0,0,255,0.37),rgba(0,255,255,0.37)) ;
    }
    75%{
        background:linear-gradient(135deg,rgba(0,0,255,0.37),rgba(0,255,255,0.37),rgba(255,255,255,0.37)) ;
    }
    100%
    {
        background:linear-gradient(135deg,rgba(0,255,255,0.37),rgba(255,255,255,0.37),rgba(0,0,255,0.37)) ;
    }
}
*
{
    margin:0;
    padding:0;
}
#id_1
{
    font-size:200px;
    text-align: center;
    padding-bottom: 200px;
}
.container
{
    /* border:1px solid black; */
    height:50vmin;
    width:50vmin;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    gap: 50px;
}
#box0
{
    /* border:none; */
    /* border-right:20px solid black; */


}
.boxes
{
    border-radius:1rem;
    box-shadow: 10px 10px 3px rgba(0,0,0,0.37);
    border:none;
    height:400px;
    display: flex;
    color:blue;
    font-size:350px;
    justify-content: center;
    align-items: center;
    background-color:rgba(255,0,0,0.40);
    width:400px;
    /* border:1px solid black; */
}
.boxes:hover
{
    background-color:rgba(255,0,0,0.60);
}
#p
{
    font-size:100px;
    margin-bottom:200px;

}
#new_btn
{
    height:150px;
    width:300px;
    font-size:3em;
    margin-left: 500px;
    margin-bottom:200px;
    display: none;
}
#reset_btn
{
    height:150px;
    width:300px;
    font-size:3em;
    margin-left:500px;
    margin-top:200px;
    
}
#show_btn
{
    height:150px;
    width:300px;
    font-size:3em;
    display:none;
}
.button_class
{
    border:none;
    border-radius:1rem;
    background-color: rgba(0,0,255,0.70);
    color:white;
}
.button_class:hover
{
    background-color: rgba(0,0,255,1);
}
#player1
{
margin-bottom: 200px;
background-color: aqua;
color:blue;
position:absolute;
    top:40px;
    left:30px;
}
#player2
{
    background-color: blue;
    color:aqua;
    position:absolute;
    top:220px;
    left:30px;
}
.player
{
 
    height:150px;
    width:800px;
    padding-left:1em;
    display:flex;
    
    /* justify-content: center; */
    
    align-items:center;
    font-size:80px;
    /* display:inline-block; */
}
#welcome_div
{
    text-align: center;
}
 @media (max-width:980px) 
{
    *
    {
        padding:0px;
        margin:0px;
    }
    html,body
    {
        height:100%;
        display:grid;
        place-items: center;
    }
    .container
    {
      border:none;
      background-color:transparent;
      box-shadow: (7px,7px,30px,rgba(0,0,0,0.37));
      height:900px;
      position:relative;
      top:-300px;
      width:95vmin;
      display:flex;
      justify-content: center;
     
    }   
    .boxes
    {
        height:250px;
        width:250px;
        background-color:rgba(255,0,0,0.40);;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size:250px;
    }   
    .player 
    {
        width:86vmin;
        height:10vmin;
        position:absolute;
        
        

    }
    #player1
    {
        transform:translate(0px,-10px);
    }
    #player2
    {
        transform:translate(0px,-70px);
        text-align: center;
    }
    #p
    {
      font-size:50px;
      position:relative;
      top:4vmin;
      
    }
    #id_1
    {   text-align:center;
        font-size:100px;
        padding-bottom:0px;
        color:red;
        position:relative;
        margin-bottom:-300px;
        margin-top:-250px;
        top : 250px;
    }
    #reset_btn
    {
        position:fixed;
        bottom:50px;
        right:-10vmin;
    }
    #show_btn
    {
        position:fixed;
        /* top:60vmin; */
        bottom:50px;
        left:10vmin;
    }
}